.content-wrapper{
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
}

.name{
    font-weight: 800;
    font-size: 3em;
    color: white; 
}

.name-setion{
    display: flex;
    margin-bottom: 40px;
}

.name-setion .logoImg{
    margin-right: 15px;
}

.webLink{
    background-color: #47dfff;
    border-bottom: 2px solid #fee211;
    border-radius: 5px;
    padding: 12px 40px;
    color: #053b58;
    font-weight: 700;
    font-size: 1.2em;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 60px;
}

.icons-setion{
    margin-top: 70px;
}

.icons-setion i.icon, i.icons {
    font-size: 2.4em;
    color: hsl(236, 16%, 66%);
    opacity: 0.9;
}

.icons-setion p{
    color: rgb(0, 180, 96);
    opacity: 0.9;
}