.ui.cards>.card {
    background-color: #053b58;
    box-shadow: none;
    color: white;
    border-bottom: 3px solid #fee211;
    transition: 400ms;
    width: 340px;
    margin-bottom: 34px;
}


.ui.cards>.card:hover {
    border-bottom: 4px solid #47dfff;
    margin-top: 0.5px;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    color: white;
    font-weight: 700;
}

.ui.card .meta, .ui.cards>.card .meta{
    color: white;
    font-size: 1.6em;
    font-weight: 700;
}


.mobile .bell .outline .icon{
    color: white;
    font-size: 2em;
}

.ui.card>.extra, .ui.cards>.card>.extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank{
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

.rank span{
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 10px;
}

.symbol{
    color: #92a7b4;
    font-weight: 800;
    font-size: 1.2em;
}

.high{
    color: rgb(0, 180, 96);
}

.low{
    color: rgb(233, 27, 27);
    font-weight: 700;
}


/* mobile card styling */

.mobile {
    display: none !important;

}


.mobile .wraps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;

}

.mobile .wraps .left > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile  .pr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 460px) {
    .desktop{
        display: none !important;
    }

    .mobile{
        display: block !important;
    }

    .ui.cards>.card {
        margin-bottom: 10px;
        border-radius: 15px !important;
        width: 370px;
    }

    .mobile i.icon.bell.outline:before{
        color: white;
        font-size: 1.5em !important;
        margin-right: 10px;
    }

    .mobile .ui.card .meta, .ui.cards>.card .meta{
        margin-right: 15px;
        margin-bottom: 15px;
    }

   .mobile .i.icon.circle.outline:before{
        font-size: 1.5em;
    }

    .symbol {
        color: #92a7b4;
    }
}

@media screen and (max-width: 768px) {
    .ui.cards>.card {
        width: 306px;
    }

    .categoryLisWrapper {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .ui.cards>.card {
        width: 380px;
    }
}